<h1>Listing <%= plural_name %></h1>

<%%- @documents.each do |doc| -%>
  <div>
    <%%- doc_info = doc.filename + (doc.category ? " (#{doc.category.name})" : '')  -%>
    <%%= link_to doc_info, doc.public_filename %>
    <%%= link_to 'Destroy', doc, :confirm => 'Are you sure?', :method => :delete %>
  </div>
<%%- end -%>

<br />

<%%= link_to 'New <%= singular_name %>', new_<%= singular_name %>_path %>
